body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-image: linear-gradient(to bottom right, blue, orange);
}

.media {
  margin: 20px;
  text-decoration: none;
}

.pic {
  border-radius: 99px;
  box-shadow: 5px 5px 1px lightgrey;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid;
  border-radius: 40px;
  shadow: 5px;
  box-shadow: 10px 10px lightgrey;
}
